.about {
  .profile-btn.btn-secondary {
    border: none;
    border-radius: 8px;
    font-size: 50px;
    background-color: black;
    width: 105px;
    height: 105px;
  }
  .profile-name {
    padding-top: 15px;
    font-weight: 600;
  }
  .profile-email {
    color: #738f93;
  }
  .edit-btn {
    color: blue;
    a:hover {
      text-decoration: none;
    }
  }
}
.profile-detail {
  border-top: solid #d6e0e2;
  border-width: 1px;
  margin-top: 30px;
  .about-heading {
    margin-right: 225px;
  }
  h5 {
    margin-top: 30px;
    font-weight: 600;
  }
  span {
    font-size: 15px;
    color: #738f93;
  }
  .fa-pencil {
    color: blue;
  }
  .about-heading,
  .about-pen-icon {
    display: inline-flex;
  }
}
.user-about-info {
  .about {
    border: none;
    background-color: #f3f7f7;
    width: 100%;
  }
}
