.profile-container {
  padding-top: 120px;
  background-color: #f3f7f7;
  .profile-left-pane {
    float: left;
    top: 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-self: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .profile-right-pane {
    float: right;
  }
}
