.profile-container {
  padding-top: 70px;
  background-color: hsl(180, 20%, 96%);
  .profile-left-pane {
    margin-top: 30px;
    float: left;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
  }
  .profile-right-pane {
    margin-top: 30px;
    float: right;
  }
}
