:root {
  /* Not my favorite that line-height has to be united, but needed */
  --lh: 1.4rem;
}
.card-heading{
  padding-top:10px;
  padding-bottom: 10px;
}
.tutorial-container .interview-prep-tutorial,
.tutorial-container .learn-code,
.tutorial-container .statistics,
.tutorial-container .javascript {
  display: inline-block;
  .card {
    width: 19rem;
    height: auto;
    .card-title,
    p {
      font-size: 13px;
      color: #738f93;
    }
    span {
      height : 10rem;
      font-size: 13px;
      color: #738f93;
    }
    .card-heading{
      color:#39414E;
    }
  }
  
}
.tutorial-container {
  .tutorial-card {
    p {
      height: 10rem;
      font-size: 15px;
    }
    h2 {
      font-size: 18px;
      display: -webkit-box;
      overflow: hidden;
    }
    a {
      font-size: 15px;
      color:#54AA4D;
    }
  }
  .tutorialShow{
    text-align: center;
    align-content: center;
    font-size: 24px;
  }
}
  .truncate-overflow {
      position: relative;
  }
  
  .truncate-overflow::after {
      background: inherit;
      bottom: 0;
      content: "...";
      margin-right: 1.0rem;
      position: absolute;
      right: 0;
      text-align: right;
      width: 1rem;
  }    
  //   overflow: hidden;
  // position: relative;
  // line-height: 1.2em;
  // max-height: 6em;
  // text-align: justify;
  // margin-right: -1em;
  // padding-right: 1em;
  // }
  // .truncate-overflow:before {
  //   content: '...';
  //   position: absolute;
  //   right: 0;
  //   bottom: 0;
  // }
  // .truncate-overflow:after {
  //   content: '';
  //   position: absolute;
  //   right: 0;
  //   width: 1em;
  //   height: 1em;
  //   margin-top: 0.2em;
  //   background: white;
  // }
  // // .truncate-overflow::after {
  //   content: '...';
  // position: absolute;
  // // right: 0;
  // // bottom: 0;
  // }
