:root {
  /* Not my favorite that line-height has to be united, but needed */
  --lh: 1.4rem;
}
.tutorial-container .interview-prep-tutorial,
.tutorial-container .learn-code,
.tutorial-container .statistics,
.tutorial-container .javascript {
  display: inline-block;
  .card {
    width: 19rem;
    height: auto;
    .card-title,
    p {
      font-size: 13px;
      color: #738f93;
    }
    span {
      height : 10rem;
      font-size: 13px;
      color: #738f93;
    }
    .card-heading{
      color:#39414E;
    }
  }
  
}
.tutorial-container {
  .tutorial-card {
    p {
      height: 10rem;
      font-size: 15px;
    }
    h2 {
      font-size: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    a {
      font-size: 15px;
      color:#54AA4D;
    }
  }
  .tutorialShow{
    text-align: center;
    align-content: center;
    font-size: 24px;
  }
}
.truncate-overflow {
  --max-lines: 3;
  line-height: var(--lh);
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  padding-right: 0.5rem;
}
.truncate-overflow::before {
  position: absolute;
  content: "...";
  top: calc(var(--lh) * (var(--max-lines) - 1));
  inset-block-end: 0;
  inset-inline-end: 0;
  bottom: 0;
  right: 0;
}
.truncate-overflow:after {
  content: "";
  position: absolute;
  inset-inline-end: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  background: white;
}
