.courses-card {
  .header {
    border-bottom: solid #e9edee;
    border-width: 1px;
    padding-top: 3px;
    padding-bottom: 4px;
  }
  .card {
    width: 19rem;
    height: 24rem;
    .course-name {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: solid #e9edee;
      border-width: 1px;
      font-weight: bold;
      a {
        font-size: 23px;
        color: #39414e ;
        &:hover {
          color: rgb(27, 169, 76);
          text-decoration: none;
        }
      }
  }
  .card-title {
    font-size: 13px;
    color: #738f93;
  }
}

}
