.courses-card {
  .header {
    border-bottom: solid #e9edee;
    border-width: 1px;
    padding-top: 3px;
    padding-bottom: 4px;
  }
  .card {
    width: 19rem;
    height: auto;
    .course-name {
      padding-top: 5px;
      border-width: 0.5px;
      font-weight: 600;
      padding-top: 10px;
      padding-bottom: 2px;
      font-size: 20px;
      color: #39414e;
      line-height: 2;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        color: rgb(27, 169, 76);
        text-decoration: none;
        white-space : pre-wrap;
      }
    }
    .card-title {
      font-size: 16px;
      color: #738f93;
    }
  }
}
