.container {
  .form-inner-container {
    background: #fffdfd;
    padding-top: 4px;
    border: 2px solid black;
    border-radius: 15px;
    height: auto;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 80px;
    textarea {
      resize: none;
    }
    .row.d-flex {
      margin-left: 2px;
      margin-right: 2px;
      margin-bottom: 10px;
    }
    .labels {
      margin-top: 10px;
    }
    .form-field {
      border: solid 1px;
      width: 100%;
      height: 40px;
      border-radius: 4px;
    }
    textarea {
      color: black;
      border: solid 1px;
    }
    .form-error-msg {
      color: red;
    }
  }
}
