.skill-label {
  font-size: 20px;
}
.prob-sol {
  .card {
    width: 25rem;
    height: 15rem;
    .card-title,
    p {
      font-size: 13px;
      color: #738f93;
    }
    .card-heading {
      color: #0d1525;
      font-weight: bold;
    }

    .btn-div {
      padding-top: 7px;
    }
    .card-btn.btn-success {
      background: rgb(27, 169, 76);
      padding-left: 25px;
      padding-right: 25px;
      border-radius: 0%;
      border: 2ch;
    }
  }
}
.prob-sol {
  .progress {
    height: 5px;
    .progress-bar {
      width: 25%;
      background: rgb(27, 169, 76);
    }
  }
}
