.outer-container{
  padding-top: 100px;
 
}
.container {
  padding-top: 4px;
  width: 30%;
  border: 2px solid black;
  border-radius: 15px;
  height: 500px;
}
.button {
    background-color: rgb(101, 119, 18);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font: bold;
   font-family: cursive;
   font-size: 25px
    /* margin:15px; */
  }
.labels{
  font: bold;
  font-family: cursive;
}