<<<<<<< HEAD
<<<<<<< HEAD
.login-outer-container {
  padding-top: 100px;
  padding-left: 480px;
}
.login-container{
  background:#131c25;
  padding-top: 4px;
  width: 40%;
  border: 2px solid black;
  border-radius: 15px;
  height: 448px;
  padding-left: 9px;
  padding-right: 9px;
}
.login-button {
  background-color: rgb(101, 119, 18);
  color: white;
  padding: 14px 20px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font: bold;
  font-family: cursive;
  font-size: 25px;
  border-radius: 15px;
}
.login-labels {
  color:white;
  font: bold;
  font-family: cursive;
  font-size: 20px;
}
.login-heading {
  color: white;
  font: bold;
  font-family: cursive;
  font-size: 35px;
  align-items: center;
  padding-top: 15px;
}
.login-field {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s all;
}
.login-field:hover {
  color:white;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
=======
.outer-container{
=======
.outer-container {
>>>>>>> Final SignUp form
  padding-top: 100px;
}
.container {
  background:#131c25;
  padding-top: 4px;
  width: 30%;
  border: 2px solid black;
  border-radius: 15px;
  height: 500px;
}
.button {
  background-color: rgb(101, 119, 18);
  color: white;
  padding: 14px 20px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font: bold;
  font-family: cursive;
<<<<<<< HEAD
}
>>>>>>> made rough structure of signup form
=======
  font-size: 25px;
  border-radius: 15px;
}
.labels {
  color:white;
  font: bold;
  font-family: cursive;
  font-size: 20px;
}
.heading {
  color: white;
  font: bold;
  font-family: cursive;
  font-size: 35px;
  align-items: center;
  padding-top: 15px;
}
.field {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s all;
}
.field:hover {
  color:white;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
>>>>>>> Final SignUp form
