.content-container {
  margin-top: 80px;
  .card,
  .btn-outline-success,
  .btn-success {
    border-radius: 0% !important;
  }
  .prac,p
   {
    font-family: "sans-serif";
     color:#738f93;
  }
  .heading{
    font-size: 26px;
    font-weight: 700;
  }
  .main-container {
    background-color: rgb(244, 246, 234);
    padding-top: 50px;   
  }
}
