.content-container {
  margin-top: 90px;
  .dashboard-heading-div,
  .prac-div {
    font-family: fantasy;
    padding-left: 50px;
  }
  .main-container {
    background-color: rgb(230, 226, 218);
    // padding-left: 50px;
    padding-top: 50px;
    .interview-card1 {
      padding-left: 50px;
      display: inline-block;
      float: left;
      padding-right: 50px;
      p {
        font-family: fantasy;
      }
    }
    h5 {
      padding-left: 50px;
      font-weight: bold;
      font-family: fantasy;
    }
    .interview-card3 {
      padding-left: 50px;
      padding-top: 60px;
      .progress-div {
        padding-bottom: 30px;
      }
    }
    .container{
      padding-left: 0px;
    }
    .container .courses,
    .container .languages,
    .container .specialized-skills {
      display: inline-block;
    }

    .container .courses {
      float: left;
      // padding-right: 20px;
    }
    .container .languages {
      margin: 0 auto;
    }
    .container .specialized-skills {
      float: right;
    }
  }
  .heading-div {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
