.interview-card1,
.interview-card2,
.interview-card3 {
  display: inline-block;
}
.interview-card3 {
  .progress-div {
    padding-bottom: 30px;
  }
}
.card-container .courses,
.card-container .languages,
.card-container .specialized-skills {
  display: inline-block;
}

.card-container .courses {
  float: left;
}
.card-container .languages {
  margin: 0 auto;
}
