.navbar {
  height: 70px;
  &.navbar-dark.bg-dark {
    background-color: #252e38 !important;
  }
  &.shadow-lg {
    color: #131c25 !important;
  }
  a.nav-link {
    font-size: 14px !important;
    color: #cce5fa !important;
    font-family: fantasy !important;
  }
  .fa-search{
    color: white !important;
  }
  .form-control-sm{
    background-color:#252e38 !important;
  }
  a:hover{
    color: white;
  }
  input:hover{
    color: white;
  }
}
