.navbar {
  &.navbar-dark {
    background-color: #252e38 !important;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .form-inline .form-control-sm {
    background-color: #252e38 !important;
    color: #ffffff;
  }
  &.shadow-lg {
    color: #131c25;
  }
  .navigation-logo {
    white-space: nowrap;
    margin: 10px 10px;
    padding-top: 30px;
    font-size: 24px;
    color: white;
    font-family: "sans-serif";
  }
  .nav-item {
    input {
      border-color: transparent;
      transition-duration: 2s;
      transition-property: width;
      &:hover {
        width: 300px;
        color: white;
        line-height: 55px;
      }
    }
    .fa-search {
      color: #b7c9cc;
      line-height: 55px;
    }
    .fa-search input:hover {
      color: white;
      line-height: 55px;
    }
    a.nav-link {
      font-size: 14px;
      color: #b7c9cc;
      font-weight: bold;
      font-family: "sans-serif";
      height: 50px;
      box-sizing: border-box;
      display: inline-block;
      font-weight: 700;
      line-height: 30px;
      position: relative;
      &:hover {
        color: white;
      }
    }
    a.nav-link.active {
      color: white;
      border-bottom: 5px solid #1ba94c;
    }
  }
  .nav-item.dropdown {
    color: #b7c9cc;
    &:hover {
      color: white;
      text-decoration: none;
    }
    .dropdown-menu {
      margin-top: 6px;
      width: 160px;
      .dropdown-item:hover {
        font-weight: bold;
      }
    }
  }
}
