.skill-label {
  font-size: 20px;
}
.interview-prep,
.email,
.prob-sol {
  .card {
    width: 30rem;
    height: 15rem;
    .email-p {
      color: black;
    }
    .card-title,
    p {
      font-size: 13px;
      color: #738f93;
    }
    .card-heading{
        color:#0D1525;
        font-weight: bold
      }
    
    .btn-div {
      padding-top: 7px;
    }
    .card-btn.btn-success {
      background: rgb(27, 169, 76);
      padding-left: 25px;
      padding-right: 25px;
      border-radius: 0%;
      border: 2ch;
      border-color: green;
    }
  }
}
.prob-sol {
  .progress {
      height: 5px;
    .progress-bar {
      width: 25%;
      background: rgb(27, 169, 76);
    }
  }
}
.email .card-icon,
.email .card-content {
  display: inline-block;
}
.email .card-icon {
  float: left;
}
.email .card-content {
  float: right;
}
.card.bg-secondary {
  background-color: #e7eeef !important;
}
