.skill-label {
  font-size: 20px;
}
.interview-prep,
.email,
.prob-sol {
  .card {
    width: 30rem;
    height: 15rem;
    .card-title,
    p {
      font-size: 13px;
      color: #738f93;
    }
    .btn-div {
        padding-top:7px;
     
    }
    .card-btn.btn-success {
        background: rgb(27, 169, 76);
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 0%;
        border: 2ch;
        border-color: green;
      }
  }
}
.prob-sol {
  .progress-bar {
    width: 25%;
  }
}
