.tutorial-container .interview-prep-tutorial,
.tutorial-container .learn-code,
.tutorial-container .statistics,
.tutorial-container .javascript {
  display: inline-block;
  .card {
    width: 19rem;
    height: 13rem;
  }
}

.tutorial-container .interview-prep-tutorial {
  float: left;
}
.tutorial-container .learn-code {
  margin: 0 auto;
}
.tutorial-container {
  .tutorial-card {
    p {
      font-size: 15px;
    }
    h2 {
      font-size: 20px;
    }
    a {
      font-size: 15px;
      color: green;
    }
    a:hover {
      color: green;
    }
  }
}
