.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  height: 70px;
  width: 100%;
  background-color: #252e38;
  box-shadow: 0 0 25px 0 #131c25;
}
#navigation .navigation-nav-container {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}
#navigation .navigation-nav-container {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
}
.navigation-logo {
  margin: 10px 10px;
  height: 100%;
  align-items: center;
  transition: opacity, 0.2s;
  height: 18px;
  width: 142px;
  padding-top: 30px;
  font-size: 250%;
  color: white;
  font-display: bold;
  font-family: "sans-serif" ;
}
.navigation-auth {
  display: flex;
  margin: 6px 15px;
  flex-basis: 310px;
  float: right;
  padding: 4px;
  width:170px
}
.navigation-auth .navigation-auth-login-button {
  text-align: center;
  background-color: hsla(0, 0%, 100%, 0.08);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: black;
  cursor: pointer;
  padding: 1px 5px;
  min-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background 0.2s;
  height: 42px;
  line-height: 42px;
  width: 70%;
  max-width: 150px;
  margin: 0 5px;
  min-width: 0;
  float: right;
  flex: 1;
  padding-bottom: 4px;
  padding-left: 5px;
  font-family: "sans-serif" ;

}
.navigation-auth_signup-button {
  text-align: center;
  background-color: #f2bb13;
  color: #454c55;
  font-size: 14px;
  font-weight: 600;
  height: 52px;
  line-height: 52px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding: 0 5px;
  min-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background 0.2s;
  height: 42px;
  line-height: 42px;
  width: 50%;
  max-width: 150px;
  margin: 0 5px;
  min-width: 0;
  font-family: "sans-serif" ;

}
